body {
    font-family: 'Times New Roman', Times, serif;
}


.first-page {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 600pt;
    background-image: url(images/jichad7.png);
    background-repeat: no-repeat;
    margin: 0px 0px 40px 0px;
}

.text {
  margin: 0px 40px 0px 80px;
  width: 50%;
}

#head{
  font-size: 50pt;
  color: aqua;
}

#assise{
  font-size: xx-large;
  font-size: 50pt;
}

i{
  color: thistle;
}

#discribtion{
  font-size: 30px;
}

#para{
  font-size: 25px;
}


  
#link {
  text-decoration: none;
  /* border: 1px solid black; */
  color: white;
  padding: 10px 20px;
  background-color: #ffb05c;
  font-size: 30px;
  border-radius: 10px;
}
  
.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img1 {
    width: 100%;
    height: 50pc;
}

.midel{
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 600pt;
  background-image: url(images/jichad7.png);
  background-repeat: no-repeat;
}